@import url("//at.alicdn.com/t/font_1765072_00j390yoptys.css");
a[href] {
  color: #409eff;
}
.sub-page {
  z-index: 100;
}
div[class^=d2-container-full] {
  .el-icon-back {
    cursor: pointer;
    margin-right: 10px;
  }
}
.edit-panel{
  z-index: 100 !important;
  //left: 50px !important;
  //box-shadow: 0 0 1000px rgba(0, 0, 0, .9) !important;
}
.h1,.h2,h3{
  padding-left: 10px;
  font-size: 18px;
  line-height: 38px;
  color: #414141;
}
.h2 {
  font-size: 16px;
}
.w200{ width: 200px;}
.w400{ width: 400px;}
.w800{ width: 800px;}
.w100ff{ width: 100%!important;}
.w-search{ width: 270px;}
.w-daterange{ width: 230px!important;}
.fl{ float: left;}
.fr{ float: right;}
.mt10{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr20{ margin-right: 20px;}
.ml10{ margin-left: 10px!important;}
.mb10{margin-bottom: 10px}
.mb20{margin-bottom: 20px}
.header-btn{
  margin: -8px 0 -10px;
  float: right;
}
.tc{text-align: center}
.tr{text-align: right}
.font20{ font-size:20px;}
.color-error{
  color:#F56C6C;
}
.color-grey{
  color:#909399;
}
.color-primary{
  color:#409EFF;
}
.color-warning{
  color:#E6A23C;
}
.notice-inline{
  margin-left: 10px;
  line-height: 40px;
  height: 40px;
  border:#ec9205 solid 1px;
  border-radius: 5px;
  display: inline-block;
  padding: 0 20px;
  i{ margin-right: 5px;}
}
.notice-inline.warning{
  border:#ec9205 solid 1px;
  i{
    color: #ec9205;
  }
}

.staticsPanel{
  background: #f9f9f9;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 2px;
  text-align: left;
  .grid-content-top{
    padding-left: 20%;
    font-weight: bold;
    font-size: 20px;
    .key{
    }
    .value{
      color:#409eff;
      font-family: Arial, Microsoft YaHei, "\9ED1\4F53", "\5B8B\4F53", sans-serif;
      .subTitle{
        color:#333;
        font-size: 16px;
        font-weight: normal;
      }
      .subValue+.subTitle{
        margin-left: 20px;
      }
    }

  }
  .el-col+.el-col .grid-content-top{
    border-left:#c9c9c9 solid 1px;
  }
}

.color-green{
	color: #67C23A;
}
.color-red{
	color:red;
}
.color-grey{
	color: #aaa;
}

/*上传新闻和banner图颜色*/
.banner-uploader{
  display: inline-block;
  margin-right: 20px;
}
.banner-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
.banner-uploader .el-upload:hover {
  border-color: #409EFF;
}
.banner-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.banner-image {
  width:200px;
  height: 100px;
  display: block;
}
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.el-dialog__body{
  padding: 10px 20px;
}